.heading-row {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    align-items: center;
}

.heading-item:first-child {
    grid-column-start: 2;
}

.heading-item > h3, button {
    display: inline;
}

.BillsList--bill {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    align-items: center;
}

.bill-item button {
    float: right;
    margin-right: 10px
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.bg-hover {
    background-color: #F0F0F0;
}